<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://iyswoogivbvkqpdwdeuv.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml5c3dvb2dpdmJ2a3FwZHdkZXV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcwODA3ODUsImV4cCI6MjA3MjY1Njc4NX0.boizWCVbtzpldr4g4oX0ZcbMpZTBg67aWpkmQ-_-t_A</string>
	<key>PRIVACY_POLICY_URL</key>
	<string>https://mmaaseide23.github.io/ChordCrack-Legal/privacy.html</string>
	<key>TERMS_OF_SERVICE_URL</key>
	<string>https://mmaaseide23.github.io/ChordCrack-Legal/terms.html</string>
	<key>SUPPORT_EMAIL</key>
	<string>chordcrackhelp@gmail.com</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app uses Face ID to securely authenticate you</string>
</dict>
</plist>
